
/* Estilo para o texto de carregamento */
p {
  font-size: 18px;
  color: #333;
}

/* Estilos para resenha */
textarea {
  min-height: 100px;
  resize: vertical;
}

textarea:focus {
  outline: none;
  border-color: #007bff;
}

/* Estilo para status */
select {
  font-size: 16px;
}

/* Estilos gerais */
body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 80px; /* Ajuste o valor conforme a altura do seu header */
  width: 80%; /* Ajuste a largura do container (80% da largura da tela) */
  max-width: 1200px; /* Limite máximo para a largura do container */
  margin-left: auto; /* Centraliza o container horizontalmente */
  margin-right: auto; /* Centraliza o container horizontalmente */
}

/* Contêiner que envolve o título, pôster e nota */
.titulo-poster-container {
  display: flex;
  margin-left: 0%;
  gap: 2rem;
  align-items: flex-start;
  margin-bottom: 20px;
}

/* Título da página */
.titulo-pagina {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

/* Estilo para o pôster do filme */
.poster {
  width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Contêiner da nota ao lado do pôster */
.nota-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

/* Estilo do campo de nota */
.nota-container label {
  font-size: 16px;
}

input[type="number"] {
  width: 80px;
  text-align: center;
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Estilo para o formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Estilo para os campos do formulário */
label {
  font-size: 16px;
}

textarea, select, input[type="number"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
}

/* Estilo do botão */
.botao-salvar {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Alteração de cor do botão quando o mouse passa sobre ele */
.botao-salvar:hover {
  background-color: #0056b3;
}
