.star-rating {
  display: flex;
  align-items: center;
}

.star-container {
  position: relative;
  margin-right: 5px;
  cursor: pointer;
}

.star-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ccc;
}

.star-foreground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  color: gold; 
}

.star-background .FaStar,
.star-foreground .FaStar {
  font-size: 2rem;
}

.star-container.large .FaStar {
  font-size: 2.5rem;
}
