.logo_link {
    background: url(../../imgs/logo.svg) no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    height: 4.5rem;
    width: 7.5rem;
    transform: scale(2.3); 
    transform-origin: center;
}

@media screen and (max-width: 1080px){
    .logo_link {
        height: 3.2rem;
        width: 5.9rem;
    }
}